html {
  touch-action: manipulation;
  background-color:white;
  color:black; 
}

div{
max-width:100%;
/*background:green;*/
text-align:center;
}

h1{
  font-size:20px;
  color:lemonchiffon;
  text-shadow:1.5px 1.5px 0 royalblue, -1.5px -1.5px 0 royalblue,
              -1.5px 1.5px 0 royalblue, 1.5px -1.5px 0 royalblue,
              0px 1.5px 0 royalblue,  0 -1.5px 0 royalblue,
              -1.5px 0 0 royalblue, 1.5px 0 0 royalblue;
}

h2{
  font-size:20px;
  margin:1;
  font-weight:normal;
}

h3{
  margin:20px 0px 0px 0px;
}

#link{
  background:azure;
  border: solid 2px cornflowerblue;
  outline:none;
  font-size:13px;
  width:70px;
  height:30px;
  border-radius:10px
}

a{
  text-decoration: none;
  color:black;
}

.buttons{
  font-size: 3vw;
  color:black;
  background:white;
  outline:none;
  border: solid 1px cornflowerblue;
  font-size:15px;
  width:90px;
  height:90px;
  border-radius:10px
}

table {
/*background:#fffae9;*/
display:table;
border-collapse:separate;
border-spacing:1px;
margin:auto
}

td,tr{
line-height:0;
margin:0;
padding:0;
}

#create{
  color:black;
  background:lemonchiffon;
  border: solid 2px cornflowerblue;
  outline:none;
  font-size:15px;
  width:180px;
  height:45px;
}

#create:active{
  background:gold;
  border: solid 2px cornflowerblue;
  outline:none;
}



#savearea_text{
  font-size: 4vw;
  align-self: end;
}

.saveareabuttons{
  color:black;
  background:lemonchiffon;
  border: solid 1px cornflowerblue;
  outline:none;
  font-size:15px;
  width:90px;
  height:90px;
}

.saveareabuttons:active{
  background:gold;
  border: solid 1px cornflowerblue;
  outline:none;
}

#save{
}

#restoration{
}

#delete{
}

#save_weapondata{
  font-size:16px;
  background:lightyellow;
  resize: none;
  border: solid 1px cornflowerblue;
  outline:none;
  font-family:メイリオ;
  padding:4px;
  width:170px;
  height:80px;
}

#updatebutton,#QandAbutton{
  font-size:12.5px;
  width:180px;
  height:45px;
  color:#654f35;
  background:lemonchiffon;
  border: solid 1px cornflowerblue;/*線色*/
  outline:none;
}

#closebutton{
  color:#654f35;
  background:lemonchiffon;
  border: solid 1px cornflowerblue;/*線色*/
  outline:none;
  font-size:12.5px;
  width:90px;
  height:45px;
}

#QandA,#update{
  padding: 4px;
  width:446px;
  height:186px;
  resize: none;
  font-family: メイリオ;
  font-size: 16px;
  margin:auto;
  display:none;/*blockで上書き*/
}
